Source: icinga2
Section: admin
Priority: extra
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Alexander Wirt <formorer@debian.org>, Markus Frosch <markus@lazyfrosch.de>
Build-Depends: automake,
               autoconf,
               autotools-dev,
               bison,
               debhelper (>= 9),
               doxygen,
               flex,
               g++ (>= 1.96),
               libboost-dev,
               libboost-program-options-dev,
               libboost-signals-dev,
               libboost-system-dev,
               libboost-test-dev,
               libboost-thread-dev,
               libltdl-dev,
               libssl-dev,
               libtool,
               python-dev
Standards-Version: 3.9.4
Homepage: http://www.icinga.org

Package: icinga2
Architecture: any
Depends: icinga2-core (= ${binary:Version}),
         icinga2-common (= ${source:Version}),
         ${misc:Depends}
Description: host and network monitoring system
 Icinga 2 is still in development and not ready for production use!
 .
 Better description to come.
 .
 This is the metapackage to install all Icinga 2 features.

Package: icinga2-common
Architecture: all
Depends: ${misc:Depends}
Description: host and network monitoring system - common files
 Icinga 2 is still in development and not ready for production use!
 .
 Better description to come.
 .
 This package provides configuration and some basic helper scripts.

Package: icinga2-core
Architecture: any
Depends: icinga2-common (= ${source:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: host and network monitoring system - daemon
 Icinga 2 is still in development and not ready for production use!
 .
 Better description to come.
 .
 This package provides the Icinga 2 daemon.

