Source: icinga2
Section: admin
Priority: extra
Maintainer: Alexander Wirt <formorer@debian.org>
Build-Depends: asciidoc,
               automake,
               autotools-dev,
               bison,
               debhelper (>= 9),
               doxygen,
               flex,
               g++,
               libboost-dev,
               libboost-program-options-dev,
               libboost-signals-dev,
               libboost-system-dev,
               libboost-test-dev,
               libboost-thread-dev,
               libltdl-dev,
               libssl-dev,
               libtool,
               python-dev
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>

Package: icinga2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: host and network monitoring system
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port;
  * plugin interface to allow for user-developed service checks
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
